* {
    box-sizing: border-box;
    background-color: black;
  }

  .container_scrolly{
    display: flex;
  }

  .artist {
    display: inline-block;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
  }
  .artist img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
  }

  .nosotras {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .nosotras img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    object-fit:cover;
  }
  
  html,
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color:beige;
  }
  
  p {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  main {
    max-width: 1250px;
    margin: 0 auto;
    padding: 60px;
  }

  h1 {
    font-size: 38px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  
  h2{
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 55px;
    text-align: center;
  }
  
  h3,
  h4,
  a {
    margin: 0;
    font-weight: 400;
  }
  
  a,
  a:visited,
  a:hover {
    color: teal;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
  }
  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* background: #f3f3f3; */
    padding: 1rem;
    padding-right: 5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  
  .nav__examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .nav__examples > * {
    margin-right: 0.5rem;
  }
  
  #intro {
    margin: 750;
    text-align: center;

  }
  
  .intro__hed {
    line-height: 1.2;
    margin: 3rem auto 1rem auto;
  }
  
  .intro__dek {
    color: #8a8a8a;
  }
  
  #intro {
    margin-bottom: 300px;
  }
  
  #outro {  
    max-width: 40rem;
    margin: auto;
    margin-bottom: 320px;
    margin-top: 320px;
    height: 640px;
  }
  
  @media (min-width: 840px) {
    .nav__examples {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
  
  #scrolly {
    position: relative;
    /* background-color: #f3f3f3; */
    padding: 1rem;
    z-index: 2;
  }

  #scrolly article{
    position: relative;
    z-index: 2;
  }
  
  #scrolly svg  {
    display: block; 
  }
  
  #scrollama-container {
    justify-content: flex-end;
  }

  #scroll-container {
    overflow-y: scroll;
    direction: rtl;
    height: 500px;
  }
  
  article {
    position: relative;
    padding: 0;
    max-width: 15rem;
    margin: 0 auto;
  }
  
  figure {
    position: -webkit-sticky;
    position:sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
    z-index: 0;
    height: 100vh;
    top: 0;
    align-items: center;
    justify-content: center;
  }
  
  figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }
  
  .step {
    margin: 0 auto 2rem auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100vh;
  }
  
  .step:last-child {
    margin-bottom: 0;
  }
  
  .step.is-active p {
    background-color:rgb(247, 238, 228);
    color: #3b3b3b;
  }
  
  .step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
  }
  
  /* Plot */
  g[aria-label="text"] text {
    font-weight: bold;
    font-size: 9px;
    text-shadow: -2px -2px 0px whitesmoke, -2px -1px 0px whitesmoke, -2px 0px 0px whitesmoke, -2px 1px 0px whitesmoke, -2px 2px 0px whitesmoke, -1px -2px 0px whitesmoke, -1px -1px 0px whitesmoke, -1px 0px 0px whitesmoke, -1px 1px 0px whitesmoke, -1px 2px 0px whitesmoke, 0px -2px 0px whitesmoke, 0px -1px 0px whitesmoke, 0px 1px 0px whitesmoke, 0px 2px 0px whitesmoke, 1px -2px 0px whitesmoke, 1px -1px 0px whitesmoke, 1px 0px 0px whitesmoke, 1px 1px 0px whitesmoke, 1px 2px 0px whitesmoke, 2px -2px 0px whitesmoke, 2px -1px 0px whitesmoke, 2px 0px 0px whitesmoke, 2px 1px 0px whitesmoke, 2px 2px 0px whitesmoke;
  }
  
  